# --- Build Output ---
# Esclude la cartella di build (solitamente chiamata 'build' o 'out')
build/
bin/
obj/

CMakeCache.txt
CMakeFiles/
CMakeScripts/
cmake_install.cmake
install_manifest.txt
Makefile


*.o
*.obj
*.a
*.lib
*.so
*.dylib
*.dll


*.exe
*.out
*.app


.vscode/

.idea/
cmake-build-*/

.vs/
*.user
*.sln
*.vcxproj

.DS_Store
*.log

venv/**/*
CMakeFiles/

output/*
!output/.gitkeep